<div class="index-main">
  <div class="index-inner">
    <div class="index-area">
      <div class="main-field">
        <%# 検索欄 %>
        <div class="search-area">
          <div class="search-field">
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
        </div>

        <%# 投稿欄 %>
        <div class="contents-area">
          <% @posts.each do |post| %>
            <a href="<%= post_path(post.id) %>" class="content-post-link">
              <div class="content-post">
                <% if post.image.attached? %>
                 <%= image_tag post.image.variant(resize: '500x200'), class: :back__image %>
                <% end %>
                <div class="content-post-inner">
                  <div class="content-high">
                    <div class="content-upload">
                      <%= post.created_at %>
                    </div>
                  </div>
                  <div class="content-middle">
                    <div class="content-title">
                      <%= post.title %>
                    </div>
                    <div class="content-place">
                      <%= post.prefecture.name %>
                    </div>
                  </div>
                  <div class="content-low">
                    <div class="content-text">
                      <%= post.text %>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>