<div class="new-main">
  <div class="new-inner">
    <div class="new-form-area">
      <div class="new-heading">
        新規投稿する
      </div>
      <div class="new-form-field">
      <%= form_with model: @post, local: true do |f| %>
        
        <div class="field">
          <%= f.label :image, "画像(任意)" %><br />
          <%= f.file_field :image, id:"post_image" %>
        </div>

        <div class="field">
          <%= f.label :title, "店名(必須)" %><br />
          <%= f.text_field :title, id:"post_title" %>
        </div>

        <div class="field">
          <%= f.label :text, "本文(必須)" %><br />
          <%= f.text_area :text, class: :form__text, id:"post_text" %>
        </div>

        <div class="field">
          <%= f.label :prefecture_id, "都道府県(必須)" %><br />
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {}) %>
        </div>

        <div class="field">
          <%= f.label :store, "お店のURL(任意)" %><br />
          <%= f.text_field :store, id:"post_store" %>
        </div>

        <div class="actions">
          <%= f.submit "投稿する", class: :form__btn  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>