<div class="main">
  <div class="show-inner">
    <div class="show-area">
      <div class="show-image-area">
        <div class="post__image">
          <% if @post.image.attached? %>
            <%= image_tag @post.image.variant(resize: '500x200') %>
          <% end %>
        </div>
        <%# 投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <% if @post.user == current_user %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path, class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), data: { turbo_method: :delete }, class: :post__btn %>
        </div>
        <% end %>
        <%# // 投稿者とログインしているユーザーが同じであれば上記を表示する %>
      </div>
      <div class="show-main-area">
        <div class="show-content">
          <%= @post.created_at %>
        </div>
      </div>

      <div class="show-main-middle">
        <div class="show-content title">
          <%= @post.title %>
        </div>

        <div class="show-content">
          <%= link_to "#{@post.user.nickname}さん", "/users/#{@post.user_id}" %>
        </div>
      </div>

      <div class="show-content">
        <%= @post.prefecture.name %>
      </div>

      <div class="show-content">
        <%= link_to @post.store %>
      </div>

      <div class="show-content text">
        <%= @post.text %>
      </div>
    </div>
  </div>
  <div class="comment-area">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "投稿" %>
      <% end %>
    <% else %>
      <strong><p>※コメントの投稿にはログインが必要です※</p></strong>
      <br>
    <% end %>
    <div class="comments">
      <div class="comment-logo">＜コメント一覧＞</div>
      <% @comments.each do |comment| %>
        <div>
          <div>
            <%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：<%= comment.comment %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>