<!DOCTYPE html>
<html>
  <head>
    <title>nomonomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# ↓↓位置情報機能↓↓ %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
    <script>
      let map;
      let marker;

      document.addEventListener("turbo:load", function() {
        // Google Mapsの初期化コードをここに記述します
        initMap();
      });

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 35.7126958, lng: 139.7039899 },
          zoom: 12
        });
      }

      function handleLocationError(browserHasGeolocation, pos) {
        console.log(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
      }

      function placeMarker(position) {
        if (marker) {
          marker.setPosition(position);
        } else {
          marker = new google.maps.Marker({
            position: position,
            map: map
          });
        }
        map.setCenter(position);
      }

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            placeMarker(pos);
          }, () => {
            handleLocationError(true, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, map.getCenter());
        }
      }
    </script>
    <%# ↑↑位置情報機能↑↑ %>
  </head>

  <header>
    <div class="header-area">
      <div class="header-left">
        <%= link_to 'nomonomo', "/", class: "header-logo" %>
      </div>

      <div class="header-right">
        <% if user_signed_in? %>
          <%= link_to '人を探す', maps_path, class: "post" %>
          <%= link_to '場所を探す', root_path, class: "post" %>
          <%= link_to '投稿する', new_post_path, class: "post" %>
          <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: "post" %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>
        <% else %>
          <%=  link_to 'ログイン', new_user_session_path, class: "signin-text" %>
          <%=  link_to '新規登録', new_user_registration_path, class: "signup-text" %>
        <% end %>
      </div>

    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="footer-area">
      <div class="copyright-logo">
        ©copyright nomonomo 2024
      </div>
    </div>
  </footer>
</html>
