<!DOCTYPE html>
<html>
  <head>
    <title>Nomonomo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="background">
  <header>
    <div class="header-area">
      <div class="header-left">
        <div class="header-logo">
          nomonomo
        </div>
      </div>
      <div class="header-right">
        <div class="signin-text">
          ログイン
        </div>
        <div class="signup-text">
          新規登録
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  <footer>
    <div class="footer-area">
      <div class="copyright-logo">
        ©copyright nomonomo 2024
      </div>
    </div>
  </footer>
  </div>
  </body>
</html>
